<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= Mebe2.get_conf(:blog_name) %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <%= if Mebe2.get_conf(:enable_feeds) do %>
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS feed"
      href="<%= Mebe2.get_conf(:absolute_url) %>/feed"
    />
  <% end %>
  <link rel="stylesheet" href="<%= Mebe2.get_conf(:absolute_urL) %>/styles.css" />
</head>
<body>
  <header>
    <a href="<%= Mebe2.get_conf(:absolute_url) %>">
      <h1><%= Mebe2.get_conf(:blog_name) %></h1>
      <nav id="menunav">
        <ul>
          <%= for menuitem <- Mebe2.Engine.DB.get_menu() do %>
            <li>
              <a href="<%= Mebe2.get_conf(:absolute_url) %><%= menuitem.slug %>">
                <%= menuitem.title %>
              </a>
            </li>
          <% end %>
        </ul>
      </nav>
    </a>
  </header>

  <main>
    <%= __content__ %>
  </main>

  <div class="sidebar">
    <%= Mebe2.Web.Views.Archives.html() %>
  </div>

  <footer>
    <p>
      © <%= Mebe2.get_conf(:blog_author) %>
    </p>
    <p>
      <a href="https://blog.nytsoi.net/mebe" target="_blank">
        Powered by Elixir + Raxx + Mebe2
      </a>
    </p>
    <p>
      <%= inspect(self()) %><span id="request-timer"></span>
    </p>
  </footer>
  <script src="<%= Mebe2.get_conf(:absolute_url) %>/app.js"></script>
  <%= raw(Mebe2.get_conf(:extra_html)) %>
</body>
</html>
