<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title><%= Mebe2.get_conf(:blog_name) %></title>
    <link><%= Mebe2.get_conf(:absolute_url) %>/</link>
    <description></description>
    <generator>Mebe2</generator>
    <copyright>© <%= Mebe2.get_conf(:blog_author) %></copyright>
    
    <%= __content__ %>
  </channel>
</rss>
